{% extends 'base.html.twig' %}

{% block title %}Réinitialisation{% endblock %}

{% block body %}
    <style>
        .wrap{
            width: 100%;
            height: 80vh;
            background-image: linear-gradient(to right top, white,white);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form{
            width: 1200px;
            height: 360px;
            background: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            font-size: 15px;
            box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
            padding-top: 20px;
        }
        .title {
            color: #61677c;
            font-size: 35px;
            margin-bottom: 20px;
        }
        .submitBtn {
            background-color: #ebecf0;
            text-shadow: 1px 1px 0 #fff;
            border-radius: 7px;
            font-size: 15px;
            padding: 12px;
            border: 0;
            outline: 0;
        }

        .submitBtn {
            color: #61677c;
            font-weight: bold;
            transition: all 0.2s ease-in-out;;
            cursor: pointer;
            font-size: 20px;
            box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
        }
        .submitBtn:hover {
            box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
            transform: translateY(-2px);
        }
    </style>
<div class="wrap">
    <div class="form">
        <h1 class="title">Réinitialisez votre mot de passe</h1>
        {{ form_start(resetForm, {'attr': {'class': 'my-form'}}) }}
        <div class="inputContainer">
            {{ form_row(resetForm.plainPassword) }}
        </div><br><br>
            <button class="submitBtn">Réinitialiser</button>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}
