{% extends 'base.html.twig' %}

{% block title %}Hello UpdateCityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Modifier une ville</h1>
    <div>
        {{ form_start(updateCityForm) }}
        {{ form_widget(updateCityForm) }}
        <button class="btn-info">Ajouter</button>
        {{ form_end(updateCityForm) }}
    </div>


    <a class="nav-link text-light" href="{{ path('admin_gestion_villes') }}" >
        <button type="button" id="myClick" class="btn btn-info mt-3 buttonInsideFor">Retour à la liste des villes</button>
    </a>
{% endblock %}
