{% extends 'base.html.twig' %}

{% block title %}Hello AddCityController!{% endblock %}

{% block body %}
<h1>Ajouter un campus</h1>
    <div>
        {{ form_start(addCampusFormType) }}
        {{ form_widget(addCampusFormType) }}
        <button class="btn-info">Ajouter</button>
        {{ form_end(addCampusFormType) }}
    </div>


    <a class="nav-link text-light" href="{{ path('admin_campus_management_index') }}" >
        <button type="button" id="myClick" class="btn btn-info mt-3 buttonInsideFor">Retour à la liste des campus</button>
    </a>
{% endblock %}
