{% extends 'base.html.twig' %}

{% block title %}Hello UpdateCityController!{% endblock %}

{% block body %}

    <h1>Modifier un campus</h1>
    <div>
        {{ form_start(updateCampusFormType) }}
        {{ form_widget(updateCampusFormType) }}
        <button class="btn-info">Modifier</button>
        {{ form_end(updateCampusFormType) }}
    </div>


    <a class="nav-link text-light" href="{{ path('admin_campus_management_index') }}" >
        <button type="button" id="myClick" class="btn btn-info mt-3 buttonInsideFor">Retour à la liste des Campus</button>
    </a>
{% endblock %}
