{% extends 'base.html.twig' %}

{% block title %}Hello UpdateCityController!{% endblock %}

{% block body %}

    <h1>Modifier une ville</h1>
    <div>
        {{ form_start(updateCityForm) }}
        {{ form_widget(updateCityForm) }}
        <button class="btn-info">Modifier</button>
        {{ form_end(updateCityForm) }}
    </div>


    <a class="nav-link text-light" href="{{ path('admin_gestion_villes') }}" >
        <button type="button" id="myClick" class="btn btn-info mt-3 buttonInsideFor">Retour à la liste des villes</button>
    </a>
{% endblock %}
