<nav class="navbar navbar-expand-lg navbar-light bg-info" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">ENI Sortir ! </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link text-light" href="/" title="Test">Accueil</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('register') }}" title="Test">Inscription</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('createEvent') }}" title="Test">Créer une sortie</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{{ path('app_login') }}" title="Test">Connexion</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/logout" title="Test">Déconnexion</a></li>
    </ul>
        </div></div>
</nav>